@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'MyriadProSemibold';
    src: url('fonts/myriadpro-semibold.eot');
    src: url('fonts/myriadpro-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-semibold.woff') format('woff'),
         url('fonts/myriadpro-semibold.ttf') format('truetype'),
         url('fonts/myriadpro-semibold.svg#MyriadProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ussr-grid-wrapper{ min-width: inherit !important; max-width: inherit !important;}
.moonray-form, .moonray_forms { width:100% !important; border:1px solid #d7d7d7 !important; padding:20px 0 !important;
}
.moonray-form *, .moonray_forms *{ font-family:Arial, Helvetica, sans-serif !important; font-size:14px !important; color:#222 !important; box-sizing:border-box;}
.moonray-form label, .moonray_forms label {
    display: block !important;
    padding: 0 12px 5px 0 !important;
	margin:0 !important;
	float:left !important;
	font-weight:bold !important;
	width:31.5% !important;
	max-width:31.5% !important;
	padding-right:12px !important;
	text-align:right !important;
	position:relative;
	line-height:30px !important;
}
.moonray_forms label{ margin:5px 0 !important;}
.moonray-form-payments-element label, .paymentInfo label{ max-width: 100% !important; text-align:left !important; width:100% !important;}
.paymentInfo label{ margin:0 !important; padding:0 !important; line-height:20px !important}
.moonray_forms .paymentInfo input[type=text],
.moonray_forms .paymentInfo input[type=email],
.moonray_forms .paymentInfo input[type=password],
.moonray_forms .paymentInfo input[type=number],
.moonray_forms .paymentInfo select{ width:100% !important;}

.moonray_forms .row input[type="text"], .moonray_forms p input[type="text"], .moonray_forms .row input[type="email"], .moonray_forms .row input[type="password"], .moonray_forms .row input[type="number"], .moonray_forms .row select{ 
	width:100% !important;
	margin:0 0 20px !important;
}


.moonray_forms .cell{ width:100%; padding:0 !important; margin:0 !important; float: left !important;}
.moonray_forms .cell:first-child{ padding-right:15px;}

.moonray-form input[type=text],
.moonray-form input[type=email],
.moonray-form input[type=password],
.moonray-form input[type=number],
.moonray-form select,
.moonray_forms input[type=text],
.moonray_forms input[type=email],
.moonray_forms input[type=password],
.moonray_forms input[type=number],
.moonray_forms select{
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #959595 !important;
    border-radius: 3px !important;
    box-shadow: none !important;
    clear: none !important;
    display: block !important;
    font-size: 14px !important;
    padding: 6px 25px 7px 5px !important;
	width:68.5% !important;
	transition: all 0.2s ease-in-out 0s !important;
	height:auto !important;
	color:#939393 !important;
	min-width:75px !important;
	float:left !important;
}
.moonray-form .moonray-form-element-wrapper-contracted,
.moonray-form .moonray-form-element-cart
{
    width: 100% !important;
	padding: 0px 20px 20px !important;
}
.moonray-form .moonray-form-element-wrapper-contracted br{
	display:none !important;
	}


.moonray-form.moonray-form-label-pos-stacked .moonray-form-input-type-text input[type=text],
{
	background:#ff0000;} 

.moonray-form.moonray-form-label-pos-stacked input[type=text]{}


.moonray-form-label-pos-stacked .moonray-form-label,
.moonray-form-label-pos-stacked .moonray-form-input,
.moonray-form.moonray-form-label-pos-stacked .moonray-form-input-type-text .moonray-form-input,
.moonray-form.moonray-form-label-pos-stacked .moonray-form-input-type-email .moonray-form-input,
.moonray-form.moonray-form-label-pos-stacked .moonray-form-input-type-date .moonray-form-input,
.moonray-form.moonray-form-label-pos-stacked .moonray-form-input-type-range .moonray-form-input,
.moonray-form.moonray-form-label-pos-stacked .moonray-form-input-type-password .moonray-form-input,
.moonray-form.moonray-form-label-pos-stacked .moonray-form-input-type-file .moonray-form-input,
.moonray-form.moonray-form-label-pos-stacked .moonray-form-input-type-number .moonray-form-input,
.moonray-form.moonray-form-label-pos-stacked .moonray-form-input-type-tel .moonray-form-input,
.moonray-form.moonray-form-label-pos-stacked .moonray-form-input-type-select .moonray-form-input,
.moonray-form.moonray-form-label-pos-stacked .moonray-form-input-type-textarea .moonray-form-input
{
	width:68.5% !important;
}


.moonray_forms .contactInfo .row input[type=text],
.moonray_forms .contactInfo input[type=email],
.moonray_forms .contactInfo input[type=password],
.moonray_forms .contactInfo input[type=number],
.moonray_forms .billingAddress .row input[type=text],
.moonray_forms .billingAddress .row select
{ width:68.5% !important;}

.moonray_forms input[type=text],
.moonray_forms input[type=email],
.moonray_forms input[type=password],
.moonray_forms input[type=number],
.moonray_forms select{
	margin-bottom:5px !important;
	margin-top:5px !important;
}
.moonray-form input[type=text].moonray-form-state-error,
.moonray-form input[type=email].moonray-form-state-error,
.moonray-form input[type=password].moonray-form-state-error,
.moonray-form input[type=number].moonray-form-state-error,
.moonray-form select.moonray-form-state-error,
.moonray_forms input[type=text].mr_error,
.moonray_forms input[type=email].mr_error,
.moonray_forms input[type=password].mr_error,
.moonray_forms input[type=number].mr_error,
.moonray_forms select.mr_error{ border:solid 1px #f00 !important;}

.moonray-form input[type=text]:focus,
.moonray-form input[type=email]:focus,
.moonray-form input[type=password]:focus,
.moonray-form input[type=number]:focus,
.moonray-form select:focus,
.moonray_forms input[type=text]:focus,
.moonray_forms input[type=email]:focus,
.moonray_forms input[type=password]:focus,
.moonray_forms input[type=number]:focus,
.moonray_forms select:focus{
	border: 1px solid #54aadf !important;
    box-shadow: 2px 2px 0 rgba(84, 170, 223, 0.1) !important;
	background:#c4e8ff !important;
}
.moonray-form .moonray-form-payments-element input[type=text],
.moonray-form .moonray-form-payments-element input[type=email],
.moonray-form .moonray-form-payments-element input[type=password],
.moonray-form .moonray-form-payments-element input[type=number],
.moonray-form .moonray-form-payments-element select,
.moonray_forms .paymentInfo input[type=text],
.moonray_forms .paymentInfo input[type=email],
.moonray_forms .paymentInfo input[type=password],
.moonray_forms .paymentInfo input[type=number],
.moonray_forms .paymentInfo select{
	background-color:#FFFCED !important;
}
.moonray-form .moonray-form-payments-element input[type=text]:focus,
.moonray-form .moonray-form-payments-element input[type=email]:focus,
.moonray-form .moonray-form-payments-element input[type=password]:focus,
.moonray-form .moonray-form-payments-element input[type=number]:focus,
.moonray-form .moonray-form-payments-element select:focus,
.moonray_forms .paymentInfo input[type=text]:focus,
.moonray_forms .paymentInfo input[type=email]:focus,
.moonray_forms .paymentInfo input[type=password]:focus,
.moonray_forms .paymentInfo input[type=number]:focus,
.moonray_forms .paymentInfo select:focus{
	background-color:#fff !important;
	border:solid 1px #EBC707 !important;
}
.moonray_forms.moonray_order_form p {
    margin-bottom: 0;
}
.moonray_forms legend{
	margin-left: -20px;
    margin-right: -20px;
}
.moonray-form br, .moonray_forms br{
	display:none;
}
.moonray_forms label.checkbox{
    display: block;
    float: none !important;
    max-width: none !important;
    text-align: left !important;
    width: auto !important;
}
.moonray-form .moonray-form-element-separator .moonray-form-element-separator-legend span, .moonray_forms legend {
    display: inline-block !important;
    font-size: 25px !important;
	font-family: 'MyriadProSemibold' , Arial, Helvetica, sans-serif !important;
	font-weight:normal !important;
	text-shadow: 0 -1px 0 #2c6fa3 !important;
    overflow: visible !important;
    padding: 20px 25px !important;
    top: auto !important;
    vertical-align: middle !important;
	color:#FFF !important;
	display:block !important;
	background:#398ac9 !important;
	clear:both !important;
	margin-bottom:20px !important;
}
.moonray-form > form > .moonray-form-element-separator:first-child .moonray-form-element-separator-legend span, .moonray_forms legend:first-child{ margin-top:-20px !important;}
.moonray-form .moonray-form-element-separator .moonray-form-element-separator-legend{ 
	position:relative !important;
	height:auto !important;
}

.ussr-grid-wrapper { padding:0px !important;}
.moonray-form .moonray-form-element-separator{
	margin: 0px;
	border:0 !important;
	padding:0 !important;
}
.moonray-form-element-wrapper{ padding:5px !important;}
.moonray-form-input-type-submit{
	padding-bottom:0px !important;
}
.moonray-form-element-paymentmethod{ width:100% !important;}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-element-wrapper {
    display: block;
    float: none;
    width: 100%;
}
.moonray-form-element-sub-text{ font-size:13px !important; font-style:normal !important;  clear: both !important; padding: 10px 0 !important;}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-number,
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-exp-month,
.moonray_forms .ccNum{
    float: left !important;
    width: 67% !important;
    padding-left: 0 !important;
}
div.moonray_forms div.expire select.moonray_cc_expire_month{ display:block !important; float:left !important; width:67% !important;}
div.moonray_forms div.expire select[name=payment_expire_year]{
    clear: none !important;
    display: block !important;
    float: left !important;
    margin-left: 2% !important;
    width: 31% !important;
}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-code,
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-exp-year,
.moonray_forms .ccCVC{
    padding-left:0;
    width: 33% !important;
	float:left !important;
}
.moonray_forms div.mr_cc {
    margin-top: 15px !important;
	clear:both;
	overflow:hidden;
	margin-bottom:0px !important;

}
.moonray_forms .ccCVC{ padding-left:10px !important;}
.moonray-form .moonray-form-element-paymentmethod{
    display: block;
    float: left;
    padding: 0;
	margin-right:10px;
}
.moonray_order_form_totals{
	width:100%;
	 border: 1px solid #68b860;
    border-radius: 3px;
	margin-top:15px;
}
.moonray_forms .priceDisplay td {
    border: 0 none !important;
    line-height: 50px !important;
    padding: 0 20px !important;
}
.moonray_forms .priceDisplay .label{ width:30% !important; font-weight:bold;}
.moonray_forms .priceDisplay hr{ margin:0; display:none;}
.moonray_forms .priceDisplay:last-child{ background:#95d68c;}

.moonray_forms button,
.moonray_forms input.mr-submit,
.moonray_forms input[type=button],
.moonray_forms input[type=submit],
.moonray-form button,
.moonray-form input[type=button],
.moonray-form input[type=submit]{
	background: #77c76f !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #77c76f 0%, #77c76f 50%, #3ca34d 52%, #3ca34d 54%, #3ca34d 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77c76f), color-stop(50%,#77c76f), color-stop(52%,#3ca34d), 	color-stop(54%,#3ca34d), color-stop(100%,#3ca34d)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #77c76f 0%,#77c76f 50%,#3ca34d 52%,#3ca34d 54%,#3ca34d 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #77c76f 0%,#77c76f 50%,#3ca34d 52%,#3ca34d 54%,#3ca34d 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #77c76f 0%,#77c76f 50%,#3ca34d 52%,#3ca34d 54%,#3ca34d 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #77c76f 0%,#77c76f 50%,#3ca34d 52%,#3ca34d 54%,#3ca34d 100%) !important; /* W3C */
    border:3px solid #95d68c !important;
   	border-radius: 10px !important;
    box-shadow:none !important;
    color: #ffffff !important;
    display: block !important;
	font-family: 'MyriadProSemibold' , Arial, Helvetica, sans-serif !important;
    font-size: 25px !important;
    height: 56px !important;
    margin: 15px auto 0 !important;
    padding: 1.25em 1.953em !important;
    text-align: center !important;
	font-weight:600 !important;
	text-transform:uppercase;
	line-height:1px !important;
	float:none !important;
	width: 240px !important;
}
.moonray_forms button:hover,
.moonray_forms input.mr-submit:hover,
.moonray_forms input[type=button]:hover,
.moonray_forms input[type=submit]:hover,
.moonray-form button:hover,
.moonray-form input[type=button]:hover,
.moonray-form input[type=submit]:hover{
    background: #52a7dd !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #52a7dd 0%, #52a7dd 50%, #3481c3 51%, #3481c3 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52a7dd), color-stop(50%,#52a7dd), color-stop(51%,#3481c3), color-stop(100%,#3481c3)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #52a7dd 0%,#52a7dd 50%,#3481c3 51%,#3481c3 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #52a7dd 0%,#52a7dd 50%,#3481c3 51%,#3481c3 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #52a7dd 0%,#52a7dd 50%,#3481c3 51%,#3481c3 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #52a7dd 0%,#52a7dd 50%,#3481c3 51%,#3481c3 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a7dd', endColorstr='#3481c3',GradientType=0 ) !important;
	border:3px solid #6db6e3 !important; /* IE6-9 */

}

.moonray-form-payments-element th {
    background: none repeat scroll 0 0 #95d68c !important;
    border: 1px solid #68b860 !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    padding: 7px 10px !important;
	color: #000 !important;
	font-weight:600 !important;
}
.moonray-form-payments-element td.font-weight-bold{
	color: #0e273d !important;
	font-weight:600 !important;
	background: none repeat scroll 0 0 #95d68c !important;
	
}
.moonray-form-payments-element td {
    border: 1px solid #68b860 !important;
    font-size: 12px !important;
    padding: 7px 10px !important;
}
.moonray-form-payments-element table {
    border-collapse: collapse !important;
	margin:0 !important;
}
.moonray-form-payments-element tr {
    border: 0 none !important;
}
.grid-summary {
    margin-right: 0px !important;
	border:0 !important;
}
.moonray-form-error-message {
    display: block !important;
    height: 50px;
    padding: 0 10px !important;
    z-index: 9999 !important;
	display:none !important;
}
.moonray-form-error-message p {
    line-height: 50px !important;
    margin: 0 !important;
}
.moonray-form-payments-element td:last-child {
    text-align: right !important;
    /*width: 87px !important;*/
}
.moonray_forms input[type="checkbox"] {
    float: left;
    margin: 7px 10px 0 0;
}
.custom-error-message {
    clear: both;
    color: #f00;
    font-size: 12px;
	position:absolute;
	bottom:0px;
}
div.mr_error_wrapper{ display:none !important}
.moonray-form .form_error, .moonray_forms .form_error {
    background: none repeat scroll 0 0 #ffeee1;
    border: 1px solid #f00;
    margin-bottom: 20px;
    padding: 10px;
	color:#900 !important;
	font-size:13px !important;
}
.ussr-helper-position-absolute, .position-absolute {
    left: auto !important;
    right: 5px;
    top: 13px !important;
}
.moonray-form .mandatory, .moonray_forms .mandatory {
    color: red !important;
    font-size: 100% !important;
    line-height: 100%;
    padding-left: 6px !important;
}
.moonray_forms a.cvchelp{ position:absolute; right:7px; bottom:39%; z-index:999}
.moonray_forms .ccCVC{position: relative;}
.moonray_forms{
	padding: 20px !important;
}
div.moonray_order_form input.checkbox, div.moonray_order_form label.checkbox {
    display: inline !important;
    float: none !important;
}