@charset "utf-8";
/* CSS Document */
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
@import url(chosen/chosen.css);
.moonray-form label, .moonray_forms label { font-family: 'Source Sans Pro', sans-serif !important; color:#707070;}

.moonray-form input[type=text],.moonray-form input[type=tel],
.moonray-form input[type=email],
.moonray-form input[type=password],
.moonray-form input[type=number],
.moonray-form select,
.moonray_forms input[type=text],.moonray_forms input[type=tel],
.moonray_forms input[type=email],
.moonray_forms input[type=password],
.moonray_forms input[type=number],
.moonray_forms select{
    border:3px solid #EEEEEE !important;
   
    padding: 12px 10px !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	margin-top:5px !important;
    
}
.moonray-form input[type=text]:focus,.moonray-form input[type=tel]:focus,
.moonray-form input[type=email]:focus,
.moonray-form input[type=password]:focus,
.moonray-form input[type=number]:focus,
.moonray-form select:focus,
.moonray_forms input[type=text]:focus,.moonray_forms input[type=tel]:focus,
.moonray_forms input[type=email]:focus,
.moonray_forms input[type=password]:focus,
.moonray_forms input[type=number]:focus,
.moonray_forms select:focus{
	box-shadow: 0 0 3px #d7d7d7 !important;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-wrapper-alignment-left.moonray-form-input-type-text{
	min-height:92px;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-alignment-left.moonray-form-element-separator {
	padding:0px;
}
.moonray-form-element-separator{ border:none;}
input[required="required"], textarea[required="required"], select[required="required"], .moonray-form-state-error{ border:solid 3px #FB7F88 !important; box-shadow:none !important;}
.moonray-form input[type=text].moonray-form-state-error,.moonray-form input[type=tel].moonray-form-state-error,
.moonray-form input[type=email].moonray-form-state-error,
.moonray-form input[type=password].moonray-form-state-error,
.moonray-form input[type=number].moonray-form-state-error,
.moonray-form select.moonray-form-state-error,
.moonray_forms input[type=text].mr_error,.moonray_forms input[type=tel].mr_error,
.moonray_forms input[type=email].mr_error,
.moonray_forms input[type=password].mr_error,
.moonray_forms input[type=number].mr_error,
.moonray_forms select.mr_error{ border:solid 3px #FB7F88 !important; box-shadow:none !important;}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-element-wrapper{ width:70%;}

.moonray_forms button, 
.moonray_forms input[type="button"], 
.moonray_forms input[type="submit"], 
.moonray-form button, 
.moonray-form input[type="button"], 
.moonray-form input[type="submit"],
.moonray-form-input-type-submit{
    background: none repeat scroll 0 0 #e64700 !important;
    border:none !important;
    border-radius:3px !important;
    color: #ffffff !important;
    display: block !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 13px 20px !important;
	width:100% !important;
}

.moonray-form-error-message.moonray-form-state-error {
    display: none !important;
}
.moonray-form-input-type-payment-number, div.row .cell.ccNum {
    background: url("images/card-icon.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 120px !important;
    width: 368px !important;
	padding-bottom: 14px !important;
	width:100% !important;
}
.moonray-form-input-type-payment-code, div.row .cell.ccCVC {
    position: absolute !important;
    right: 0;
    top: 76px;
    width: 198px !important;
}
div.moonray_forms div.mr_cc{ position:relative !important;}
.moonray_forms button:hover,
.moonray_forms input[type=button]:hover,
.moonray_forms input[type=submit]:hover,
.moonray-form button:hover,
.moonray-form input[type=button]:hover,
.moonray-form input[type=submit]:hover{
    background-color:#F24B00;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-wrapper-alignment-left.moonray-form-input-type-select .moonray-form-input.moonray-form-payments-element{
	background:-moz-linear-gradient(center top , #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%) repeat scroll 0 0 padding-box rgba(0, 0, 0, 0);
	border:solid 2px #D7D7D7;
}

.moonray-form .moonray-form-element-paymentmethod .moonray-form-element-wrapper{
	width:100%;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-credit-card .moonray-form-element-wrapper.moonray-form-input-type-text{
	width:227px;
	box-sizing:border-box;
	min-height:86px;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-credit-card .moonray-form-element-wrapper.moonray-form-input-type-select{
	width: 124px;
	box-sizing:border-box;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-credit-card .moonray-form-element-wrapper.moonray-form-input-type-payment-code.moonray-form-input-type-text{
	padding-right:0px;
}
.moonray-form-element-wrapper.moonray-form-input-type-payment-exp-year.moonray-form-input-type-select{
	padding-right:0px;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-credit-card{
	padding-right:0px;
}
.moonray-form-payments-element.moonray-from-offer-grid.moonrayform_paymentplandisplay.ontraport_grid_offer .ussr-grid-wrapper{ padding:15px 0px;}

.moonray-form-element-wrapper.moonray-form-element-wrapper-alignment-left.moonray-form-element-paymentmethod{
	background: none repeat scroll 0 0 #e8e5e8;
    border-radius: 6px;	
	margin-bottom: 20px;
    padding-bottom: 0;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-alignment-left.moonray-form-element-separator{ }
.moonray-form-element-separator-legend {
    padding-bottom:0px;
    position: relative !important;
	height: auto !important;
	border-bottom:solid 1px #ddd; 
	margin-bottom:10px;
}
.moonray-form .moonray-form-element-wrapper .moonray-form-label {
    font-size: 13px;
    font-weight: 700;
}
.moonray-form .moonray-form-element-separator .moonray-form-element-separator-legend span {
    color: #181818;
    display: inline-block;
    font-size: 19px;
    overflow: visible;
    padding: 0 !important;
    position: relative;
    top:0 !important;
	padding-bottom:10px !important;
	vertical-align: middle;
}
.moonray-form-p2c20316f29 #mr-field-element-986327889841{
	border:none !important;
}
.moonray-form-p2c20316f29 #mr-field-element-428734438726{ border:none !important;}
.moonray-form-p2c20316f29 #mr-field-element-210717645008 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
	border:none !important;
}
.moonray-form-p2c20316f29 #mr-field-element-428734438726{
	font-family: 'Source Sans Pro', sans-serif !important;
}
.mandatory {
    color: #f00;
    padding-left: 5px;
}
.moonray-form .moonray-form-element-wrapper{ overflow:visible !important;}

.chosen-container {
    width: 100% !important;
}
.chosen-container-single .chosen-single {
    background: none repeat scroll 0 0 #fff !important;
    border: 3px solid #eeeeee !important;
    border-radius: 3px !important;
    color: #000 !important;
    font-family: "Source Sans Pro",sans-serif !important;
    height: 41px !important;
    line-height: 41px !important;
	box-shadow: none !important;
}
.chosen-container-single .chosen-single div b {
    background-position: 0 11px !important;
}
.moonray-form-element-separator-legend{ margin-left:0px !important;}
.moonray-form-input-type-payment-code{ top:72px !important}
.moonray-form-element-separator.moonray-form-payments-element {
    border-top: medium none !important;
}
/*********************************/
br {
    display: none;
}
div.row .cell{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 10px 6px;
    width: 50% !important;
}
.chosen-single > span {
    color: #999;
	font-family: "Source Sans Pro",sans-serif !important;
}
div.row div.cell span{ font-family: "Source Sans Pro",sans-serif !important; color: #181818;}
.moonray_fieldname.mr_cell_phone {
    line-height: 16px;
    margin-left: 5px;
    margin-top: 11px;
}
.chosen-container.chosen-container-single {
    margin-top: 4px;
}
.moonray_forms .row.expire{ width:50% !important;}
.moonray_forms .row.expire .chosen-container.chosen-container-single{ width:50% !important; padding:0 !important}
.state > .chosen-container-single {
    margin-top: 6px !important;
}
div.moonray_forms a.cvchelp{ position:absolute !important; right:16px !important; bottom:36px !important;}
div.row .cell.ccCVC {
    bottom: -99px;
    top: auto !important;
}

.mr_paypal {
    clear: both !important;
    padding-top: 10px;
}
.mr_paypal input {
    margin: 7px !important;
}

.row.double {
    box-sizing: border-box;
    clear: none !important;
    float: left;
    padding: 10px 6px;
    width: 50%;
}
.moonray_fieldname.mr_payment_expire {
    clear: both !important;
    width: 100%;
}

.expire > .chosen-container.chosen-container-single {
    box-sizing: border-box;
    float: left;
    padding: 27px 6px;
    width: 100% !important;
}
.moonray_input.required.phone {
    margin: 0 0 0 6px;
    width: 48%;
}

 label { line-height:20px !important; font-family: 'Source Sans Pro', sans-serif !important; color:#707070;}
.moonray_fieldname.mr_billing_zip {
    line-height: 16px;
}
.row.email,.moonray_input{ width:50%; float:left; padding: 10px 6px; box-sizing: border-box;}
div.row div.cell input[type=text],div.row div.cell input[type=tel],
div.row div.cell input[type=email],
div.row div.cell input[type=password],
div.row div.cell input[type=number],
div.row div.cell select,
div.row div.cell input[type=text],div.row div.cell input[type=tel],
div.row div.cell input[type=email],
div.row div.cell input[type=password],
div.row div.cell input[type=number],
div.row div.cell select{ width:100% !important;}
.moonray_forms.moonray_order_form.jb_470 .row {
    box-sizing: border-box;
    clear: none !important;
    float: left;
    padding: 10px 6px;
    width: 100%;
}
.zip input[name=shipping_zip]{ width:100% !important;}
.mr-submit{ width:100% !important;}
.city input[name=shipping_city]{ width:100% !important;}
.chosen-container.chosen-container-single{ width:100% !important;}


.moonray_forms.moonray_order_form.jb_470 p{  width: 100% !important;}
.moonray_forms.moonray_order_form.jb_470 .row{}

.moonray_forms.moonray_order_form.jb_470 p {
    margin: 0 !important;
    overflow: hidden;
}
.moonray_input.required.text {
    width: 100%;
}
.moonray-form input[type="text"]:focus,
.moonray-form input[type="email"]:focus, 
.moonray-form input[type="password"]:focus, 
.moonray-form input[type="number"]:focus, 
.moonray-form select:focus, 
.moonray_forms input[type="text"]:focus, 
.moonray_forms input[type="email"]:focus, 
.moonray_forms input[type="password"]:focus, 
.moonray_forms input[type="number"]:focus, 
.moonray_forms select:focus {
    box-shadow: 0 0 3px #d7d7d7 !important;
}
.moonray-form input[type=text].moonray-form-state-error,.moonray-form input[type=tel].moonray-form-state-error,
.moonray-form input[type=email].moonray-form-state-error,
.moonray-form input[type=password].moonray-form-state-error,
.moonray-form input[type=number].moonray-form-state-error,
.moonray-form select.moonray-form-state-error,
.moonray_forms input[type=text].mr_error,.moonray_forms input[type=tel].mr_error,
.moonray_forms input[type=email].mr_error,
.moonray_forms input[type=password].mr_error,
.moonray_forms input[type=number].mr_error,
.moonray_forms select.mr_error{ border:solid 3px #FB7F88 !important; box-shadow:none !important;}
/********************************/
.moonray_forms.moonray_order_form.jb_470 .row.firstname input[type="text"]{ width:100% !important;}
.row.firstname, .row.lastname, .row.email, .row.double{ width:50% !important;}
.moonray_forms.moonray_order_form.jb_470 .row.lastname input[name="lastname"]{ width:100% !important;}
.moonray_forms.moonray_order_form.jb_470 .row.email input[name="email"]{ width:100%;}
.moonray_forms.moonray_order_form.jb_470 .row.email{ width:100% !important;}
.moonray_forms.moonray_order_form.jb_470  input[name="StateOther_343"]{ display:none;}
.moonray_forms.moonray_order_form.jb_470 .row.double input[name="billing_address1"]{ width:100% !important;}
.moonray_forms.moonray_order_form.jb_470 .row.country .chosen-container-single{  width:100% !important;  
    float: left;}
.row.country, .row.city{ width:50% !important;  padding: 10px 6px 10px 0px !important; margin:0px !important;}
.row.zip, .row.state{ width:50% !important;  padding: 10px 0px 10px 6px !important; margin:0px !important;}
.chosen-container.chosen-container-single{ width:100% !important;}
.moonray_forms.moonray_order_form.jb_470 legend {
    display: none;
    white-space: normal;
}
.row.firstname{ width:50%;}

.moonray-form-input-type-payment-number{ width:100% !important;}
.moonray-form-input-type-payment-number{}
.moonray-form-input-type-payment-code{ top:auto !important; bottom:10px !important;}
.ussr-component-grid .ontraport_gridrow td > div > input, .ussr-component-grid .ontraport_gridrow td > input{ width:auto !important;}
.ussr-component-gird-cell .ussr-component-gridcell-input-number-spinner-wrapper {
    left: auto !important;
    right: 10px !important;
    top: 20px !important;
}

.ontraport_grid_offer .grid-summary {
    box-sizing: border-box !important;
    left: -1px !important;
    position: relative !important;
    top: -1px !important;
    width: 100% !important;
}
.ussr-grid-wrapper{ font-size:15px !important;}

.moonray-form td, .moonray_forms td, .moonray_forms th, .moonray_forms td.label,
.moonray-form th{ padding:10px !important; vertical-align:middle !important; float:none !important; box-sizing: border-box;}
.moonray-form th,
.moonray_forms th, .moonray_forms td.label{ background: #C7C7C7 !important; color:#fff !important; font-weight:normal; font-size:13px !important;}
.moonray_forms td{ width:70% !important;}
.moonray_forms td.label{ width:30% !important;}
.moonray_forms hr{ margin:0 !important;}
.moonray-form table, .moonray_forms table{ margin-bottom:20px !important;}
.termsWrapper br {
    display: block;
}

.moonray_forms .paymentInfo {
    background: none repeat scroll 0 0 #e8e5e8;
    border-radius: 10px !important;
    padding: 10px !important;
}
.moonray-form .moonray-form-element-wrapper {
    overflow: visible !important;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-wrapper-alignment-left.moonray-form-input-type-text{
    box-sizing: border-box;
    float: left;
    min-height: 92px;
    padding-right: 0px;
    width: 50%;
}

.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-wrapper-alignment-left.moonray-form-input-type-text input[name="billing_zip"],
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-wrapper-alignment-left.moonray-form-input-type-text input[name="lastname"]{margin-left: 6px !important;
    width: 98% !important;}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-wrapper-alignment-left.moonray-form-input-type-text input[name="billing_city"],.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-wrapper-alignment-left.moonray-form-input-type-text input[name="firstname"] {
    margin-right: 6px !important;
    width: 98% !important;
}
.moonray-form input[type="text"], .moonray-form input[type="email"], .moonray-form input[type="password"], .moonray-form input[type="number"], .moonray-form select, .moonray_forms input[type="text"], .moonray_forms input[type="email"], .moonray_forms input[type="password"], .moonray_forms input[type="number"], .moonray_forms select {
    border: 3px solid #eeeeee !important;
    font-family: "Source Sans Pro",sans-serif !important;
    padding: 12px 10px !important;
    width: 100%;
}
#mr_field_element_3403730485654_chosen {
    width: 100% !important;
}

.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-credit-card {
    padding-right: 0;
    position: relative;
}

.moonray-form-element-wrapper.moonray-form-input-type-payment-code.moonray-form-input-type-text {
    margin: 0 !important;
    position: absolute;
    top: 71px !important;
    width: 33% !important;
}

.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-paypal a {
    display: block;
    margin-bottom: 10px;
}
.moonray-form-element-wrapper.moonray-form-input-type-payment-exp-year.moonray-form-input-type-select,.moonray-form-element-wrapper.moonray-form-input-type-payment-exp-month.moonray-form-input-type-select {
    width: 33% !important;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-credit-card .moonray-form-element-wrapper.moonray-form-input-type-select {
    box-sizing: border-box;
    float: left;
    width: 50%;
}

/*.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-paypal > div {
    overflow: hidden;
    width: 17%;
}*/

.moonray-form .moonray-form-element-wrapper {
    overflow: visible !important;
}
.moonray-form .moonray-form-element-wrapper {
    overflow: visible !important;
}
.moonray_forms button, .moonray_forms input[type="button"], .moonray_forms input[type="submit"], .moonray-form button, .moonray-form input[type="button"], .moonray-form input[type="submit"], .moonray-form-input-type-submit {
    background: none repeat scroll 0 0 #e64700 !important;
    border: medium none !important;
    border-radius: 3px !important;
    box-sizing: border-box;
    color: #ffffff !important;
    display: block !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 13px 20px !important;
    width: 100% !important;
}
.moonray-form-element-paymentmethod{ padding:15px !important;}
.moonray-form-element-credit-card .moonray-form-label{ margin-bottom:0 !important;}
.moonray-form-element-credit-card{ padding:0 !important;}
.moonray-form-error-message.coupon-error {
    background-color: #ffffff !important;
    border: 1px solid #ff0000;
    border-radius: 3px;
    box-sizing: border-box !important;
    display: block !important;
    height: auto !important;
    left: 0;
    line-height: 20px !important;
    padding: 10px !important;
    position: absolute !important;
    width: 95% !important;
    z-index: 9999;
}
.ussr-icon.ussr-icon-checkmark {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    height: 16px;
    position: absolute;
    right: 8px;
    top: 18px;
    width: 16px;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-paypal {
    clear: both;
	padding-top:10px;
}
.coupon-code-submit-btn {
    position: relative;
	display:block;
	height:0 !important;
	border:0 !important;
}
.moonray-form input[name="couponCode"] {
    padding-right: 28px !important;
}
.moonray-form label.checkbox, .moonray_forms label.checkbox, .moonray-form label.radio, .moonray_forms label.radio {
    display: inline !important;
    padding-left: 10px !important;
}
.moonray-form .moonray-form-input-type-payment-code, .moonray-form .moonray-form-input-type-payment-exp-year {
    padding-left: 10px !important;
}
.moonray-form-payments-element td{ vertical-align:top !important;}
.grid-summary{ margin-top:-1px !important;}
.moonray-form-payments-element td:first-child{ width:140px !important;}
.moonray-form-p2c20316f10 #mr-field-element-210717645008{
	padding:5px 0 10px !important;
}
.moonray-form-element-separator-legend span[Enter Your Billing Information]{ margin-left:20px;}
.moonray_order_form_totals {
    margin-bottom: 20px !important;
}
.moonray-form input[name="couponCode"]{ height:auto !important;}
.moonray-form, .moonray_forms{ position: relative;}