@charset "utf-8";
/* CSS Document */
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
@import url(chosen/chosen.css);
.moonray-form label, .moonray_forms label { font-family: 'Source Sans Pro', sans-serif !important; color:#707070;}
.moonray_forms div.cell{ width:47% !important;}
.cell{}
div.moonray_forms div.cell input[type=text],
div.moonray_forms div.cell input[type=email],
div.moonray_forms div.cell input[type=password],
div.moonray_forms div.cell input[type=number],
div.moonray_forms div.cell select,
div.moonray_forms div.cell input[type=text],
div.moonray_forms div.cell input[type=email],
div.moonray_forms div.cell input[type=password],
div.moonray_forms div.cell input[type=number],
div.moonray_forms div.cell select{
    border:3px solid #EEEEEE !important;
	width:100% !important;
    padding: 12px 10px !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	margin-top:5px !important;
    
}
.moonray-form input[type=text]:focus,
.moonray-form input[type=email]:focus,
.moonray-form input[type=password]:focus,
.moonray-form input[type=number]:focus,
.moonray-form select:focus,
.moonray_forms input[type=text]:focus,
.moonray_forms input[type=email]:focus,
.moonray_forms input[type=password]:focus,
.moonray_forms input[type=number]:focus,
.moonray_forms select:focus{
	box-shadow: 0 0 3px #d7d7d7 !important;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-wrapper-alignment-left.moonray-form-input-type-text{
	min-height:92px;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-alignment-left.moonray-form-element-separator {
	padding:0px;
}
.moonray-form-element-separator{ border:none;}
input[required="required"], textarea[required="required"], select[required="required"], .moonray-form-state-error{ border:solid 3px #FB7F88 !important; box-shadow:none !important;}
.moonray-form input[type=text].moonray-form-state-error,
.moonray-form input[type=email].moonray-form-state-error,
.moonray-form input[type=password].moonray-form-state-error,
.moonray-form input[type=number].moonray-form-state-error,
.moonray-form select.moonray-form-state-error,
.moonray_forms input[type=text].mr_error,
.moonray_forms input[type=email].mr_error,
.moonray_forms input[type=password].mr_error,
.moonray_forms input[type=number].mr_error,
.moonray_forms select.mr_error{ border:solid 3px #FB7F88 !important; box-shadow:none !important;}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-element-wrapper{ width:70%;}

.moonray_forms button, 
.moonray_forms input[type="button"], 
.moonray_forms input[type="submit"], 
.moonray-form button, 
.moonray-form input[type="button"], 
.moonray-form input[type="submit"],
.moonray-form-input-type-submit{
    background: none repeat scroll 0 0 #e64700 !important;
    border:none !important;
    border-radius:3px !important;
    color: #ffffff !important;
    display: block !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 13px 20px !important;
	width:100% !important;
}

.moonray-form-error-message.moonray-form-state-error {
    display: none !important;
}
.moonray-form-input-type-payment-number {
    background: url("images/card-icon.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 120px !important;
    width: 368px !important;
	padding-bottom: 14px !important;
}
.moonray-form-input-type-payment-code {
    position: absolute !important;
    right: 0;
    top: 76px;
    width: 198px !important;
}
.moonray_forms button:hover,
.moonray_forms input[type=button]:hover,
.moonray_forms input[type=submit]:hover,
.moonray-form button:hover,
.moonray-form input[type=button]:hover,
.moonray-form input[type=submit]:hover{
    background-color:#F24B00;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-wrapper-alignment-left.moonray-form-input-type-select .moonray-form-input.moonray-form-payments-element{
	background:-moz-linear-gradient(center top , #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%) repeat scroll 0 0 padding-box rgba(0, 0, 0, 0);
	border:solid 2px #D7D7D7;
}

.moonray-form .moonray-form-element-paymentmethod .moonray-form-element-wrapper{
	width:100%;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-credit-card .moonray-form-element-wrapper.moonray-form-input-type-text{
	width:227px;
	box-sizing:border-box;
	min-height:86px;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-credit-card .moonray-form-element-wrapper.moonray-form-input-type-select{
	width: 124px;
	box-sizing:border-box;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-credit-card .moonray-form-element-wrapper.moonray-form-input-type-payment-code.moonray-form-input-type-text{
	padding-right:0px;
}
.moonray-form-element-wrapper.moonray-form-input-type-payment-exp-year.moonray-form-input-type-select{
	padding-right:0px;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-credit-card{
	padding-right:0px;
}
.moonray-form-payments-element.moonray-from-offer-grid.moonrayform_paymentplandisplay.ontraport_grid_offer .ussr-grid-wrapper{ padding:15px 0px;}

.moonray-form-element-wrapper.moonray-form-element-wrapper-alignment-left.moonray-form-element-paymentmethod{
	background: none repeat scroll 0 0 #e8e5e8;
    border-radius: 6px;	
	margin-bottom: 20px;
    padding-bottom: 0;
}
.moonray-form-element-wrapper.moonray-form-element-wrapper-alignment-left.moonray-form-element-separator{ }
.moonray-form-element-separator-legend {
    padding-bottom:0px;
    position: relative !important;
	height: auto !important;
	border-bottom:solid 1px #ddd; 
	margin-bottom:10px;
}
.moonray-form .moonray-form-element-wrapper .moonray-form-label {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 6px;
}
.moonray-form .moonray-form-element-separator .moonray-form-element-separator-legend span {
    color: #181818;
    display: inline-block;
    font-size: 19px;
    overflow: visible;
    padding: 0 !important;
    position: relative;
    top:0 !important;
	padding-bottom:10px !important;
	vertical-align: middle;
}
.moonray-form-p2c20316f29 #mr-field-element-986327889841{
	border:none !important;
}
.moonray-form-p2c20316f29 #mr-field-element-428734438726{ border:none !important;}
.moonray-form-p2c20316f29 #mr-field-element-210717645008 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
	border:none !important;
}
.moonray-form-p2c20316f29 #mr-field-element-428734438726{
	font-family: 'Source Sans Pro', sans-serif !important;
}
.mandatory {
    color: #f00;
    padding-left: 5px;
}
.moonray-form .moonray-form-element-wrapper{ overflow:visible !important;}

.chosen-container {
    width: 100% !important;
}
.chosen-container-single .chosen-single {
    background: none repeat scroll 0 0 #fff !important;
    border: 3px solid #eeeeee !important;
    border-radius: 3px !important;
    color: #000 !important;
    font-family: "Source Sans Pro",sans-serif !important;
    height: 41px !important;
    line-height: 41px !important;
	box-shadow: none !important;
}
.chosen-container-single .chosen-single div b {
    background-position: 0 11px !important;
}
.moonray-form-element-separator-legend{ margin-left:10px !important;}
.moonray-form-input-type-payment-code{ top:72px !important}***/
