@charset "utf-8";
/* CSS Document */
@import url(//fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300italic,300,100italic,100);

.moonray-form, .moonray_forms { width:100% !important; color: #66625b !important;font-family: 'Lato', sans-serif !important;}
.moonray-form *, .moonray_forms *{ font-family: 'Lato', sans-serif !important; box-sizing:border-box !important;color: #66625b !important;}



.moonray-form p, .moonray_forms p{
	margin:0px !important;
}
.moonray-form br, .moonray_forms br{
	display:none !important;
}
.moonray-form .form_error br, .moonray_forms .form_error br{
	display:block !important;
}

.moonray-form label, .moonray_forms label {
	 font-family: 'Lato', sans-serif !important;
	color: #66625b !important;
    display: block !important;
    font-size: 14px !important;
    padding: 0 0 8px !important;
	margin:0px 0 0 0 !important;
	width:100% !important;
	font-weight:300 !important;
	float:none !important;
	clear:none !important;
}
.moonray_forms .row{
	margin-bottom: 0 !important;
    margin-top: 0px !important;
}
.moonray_forms .row .country,
.moonray_forms .row .city{
	margin-top:0px !important;
}
.moonray_forms .row input{}
.moonray_forms fieldset{
	margin-bottom:0px !important;
	padding:0px !important;
}
.moonray_forms fieldset.contactInfo{}
.moonray_forms .cell{ width:50%; margin:0 !important; float: left !important;}
.moonray_forms .cell:first-child{ padding-right:15px;}

.moonray-form input[type=text],
.moonray-form input[type=email],
.moonray-form input[type=password],
.moonray-form input[type=number],
.moonray-form select,
.moonray_forms input[type=text],
.moonray_forms input[type=email],
.moonray_forms input[type=password],
.moonray_forms input[type=number],
.moonray_forms select{
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #d7d7d7 !important;
    border-radius: 2px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset !important;
    clear: both !important;
    display: block !important;
    font-family: 'Lato',Arial,Helvetica,sans-serif !important;
    font-size: 18px !important;
    padding: 15px 12px 15px 12px !important;
	width:100% !important;
	color:#66625b !important;
	min-width: 75px !important;
	width:100% !important;
	font-weight:300 !important;
	margin:0px !important;
	float:none !important;
}
.moonray_forms input[type=text],
.moonray_forms input[type=email],
.moonray_forms input[type=password],
.moonray_forms input[type=number],
.moonray_forms select{
	margin-bottom:20px !important;
	margin-top:0px !important;
}
	
div.moonray_forms div.cell{ position:relative; /*padding-right:0px !important;*/}
.moonray-form input[type=text]:focus,
.moonray-form input[type=email]:focus,
.moonray-form input[type=password]:focus,
.moonray-form input[type=number]:focus,
.moonray-form select:focus,
.moonray_forms input[type=text]:focus,
.moonray_forms input[type=email]:focus,
.moonray_forms input[type=password]:focus,
.moonray_forms input[type=number]:focus,
.moonray_forms select:focus{
	background-color:#fff !important;	
	color:#000 !important;
}
.moonray-form .moonray-form-payments-element input[type=text],
.moonray-form .moonray-form-payments-element input[type=email],
.moonray-form .moonray-form-payments-element input[type=password],
.moonray-form .moonray-form-payments-element input[type=number],
.moonray-form .moonray-form-payments-element select,
.moonray_forms .paymentInfo input[type=text],
.moonray_forms .paymentInfo input[type=email],
.moonray_forms .paymentInfo input[type=password],
.moonray_forms .paymentInfo input[type=number],
.moonray_forms .paymentInfo select{
	background-color:#FFF !important;
	color:#000 !important;
}
.moonray-form .moonray-form-payments-element input[type=text]:focus,
.moonray-form .moonray-form-payments-element input[type=email]:focus,
.moonray-form .moonray-form-payments-element input[type=password]:focus,
.moonray-form .moonray-form-payments-element input[type=number]:focus,
.moonray-form .moonray-form-payments-element select:focus,
.moonray_forms .paymentInfo input[type=text]:focus,
.moonray_forms .paymentInfo input[type=email]:focus,
.moonray_forms .paymentInfo input[type=password]:focus,
.moonray_forms .paymentInfo input[type=number]:focus,
.moonray_forms .paymentInfo select:focus{
	background-color:#fff !important;
	color:#000 !important;
}
.moonray-form select,
.moonray_forms select {
    /*height: 49px;*/
    padding-bottom: 14px !important;
    padding-top: 14px !important;
}
.moonray-form .moonray-form-element-separator .moonray-form-element-separator-legend span, .moonray_forms legend {
	color: #66625b !important;
    display: inline-block !important;
    font-family: 'Lato',sans-serif !important;
    font-size: 25px !important;
    font-weight: bold !important;
    margin: 0px 0 !important;
    overflow: visible !important;
    padding: 0.2em 0.5em 0.2em 0 !important;
    position: relative !important;
    vertical-align: middle !important;
	top: auto !important;
}
.moonray_forms legend{
	line-height:normal !important;
	margin-bottom:20px !important;
}
.moonray-form .moonray-form-element-separator .moonray-form-element-separator-legend{ position:relative !important; height:auto !important;}
.ussr-grid-wrapper { padding:0px !important;}
.moonray-form .moonray-form-element-separator{
	margin: 0px;
	border:0 !important;	
}
.moonray-form-element-wrapper{ padding-bottom:0px !important; padding-top:20px !important; width:100% !important; overflow:visible !important;}
.moonray-form-element-paymentmethod{ width:100% !important;}
.moonray-form-input-type-submit{
	text-align:left !important;
}
.moonray-form-element-credit-card{
	padding:0px !important;
}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-element-wrapper {
    display: block;
    float: none;
    width: 100%;
}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-number,
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-exp-month,
.moonray_forms .ccNum{
    float: left !important;
    width: 67% !important;
    padding-left: 0 !important;
}
div.moonray_forms div.expire select.moonray_cc_expire_month{ display:block !important; float:left !important; width:66% !important;}
div.moonray_forms div.expire select[name=payment_expire_year]{
    clear: none !important;
    display: block !important;
    float: left !important;
	margin-left: 2% !important;
    width: 31.5% !important;
}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-code,
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-exp-year,
.moonray_forms .ccCVC{
    padding-left:0;
    width: 33% !important;
	float:left !important;
}
.moonray_forms .ccCVC{padding-left: 10px !important;}
.moonray_forms .ccCVC input[type="text"]{
	float: left !important;
    width: 85% !important;	
}
a.cvchelp {
	margin: 20px 0 0 4px !important;
}
.moonray-form .moonray-form-element-paymentmethod{
    display: block;
    float: left;
    padding: 0;
	margin-right:10px;
	padding-bottom:0px !important;
}
.moonray-form input[name=firstname],
.moonray-form input[name=fname],
.moonray-form input[name=lastname],
.moonray-form input[name=lname],
.moonray-form input[name=name],
.moonray_forms input[name=firstname],
.moonray_forms input[name=fname],
.moonray_forms input[name=lastname],
.moonray_forms input[name=lname],
.moonray_forms input[name=name]{
	background: url(images/1.png) no-repeat scroll 11px 21px #ffffff !important; padding-left: 42px !important;
		
}
.moonray-form input[name=email],
.moonray-form input[type=email],
.moonray_forms input[name=email],
.moonray_forms input[type=email]{
	background: url(images/2.png) no-repeat scroll 11px 21px #ffffff !important;padding-left: 42px !important;
	background-color:#ffffff !important;
}
.moonray-form input[name=billing_address1],
.moonray-form input[name=billing_address2],
.moonray_forms input[name=billing_address1],
.moonray_forms input[name=billing_address2],
.moonray-form input[name=shipping_address1],
.moonray-form input[name=shipping_address2],
.moonray_forms input[name=shipping_address1],
.moonray_forms input[name=shipping_address2]{
	background: url(images/6.png) no-repeat scroll 11px 15px #ffffff !important;padding-left: 42px !important;
	background-color:#ffffff !important;
}
.moonray-form input[name=billing_city],
.moonray_forms input[name=billing_city],
.moonray-form input[name=shipping_city],
.moonray_forms input[name=shipping_city]{
	background: url(images/3.png) no-repeat scroll 11px 19px #ffffff !important;padding-left: 42px !important;

}
.moonray-form input[name=billing_zip],
.moonray_forms input[name=billing_zip],
.moonray-form input[name=shipping_zip],
.moonray_forms input[name=shipping_zip]{
	background: url(images/8.png) no-repeat scroll 12px 22px #ffffff !important; padding-left: 42px !important;
	
}
.moonray-form input[name=billing_state],
.moonray-form select[name=billing_state],
.moonray_forms input[name=billing_state],
.moonray_forms select[name=billing_state],
.moonray-form input[name=shipping_state],
.moonray-form select[name=shipping_state],
.moonray_forms input[name=shipping_state],
.moonray_forms select[name=shipping_state]{
	background: url(images/7.png) no-repeat scroll 11px 19px #ffffff !important; padding-left:0 !important; text-indent:29px;
}
.moonray-form input[name=billing_country],
.moonray-form select[name=billing_country],
.moonray_forms input[name=billing_country],
.moonray_forms select[name=billing_country],
.moonray-form input[name=shipping_country],
.moonray-form select[name=shipping_country],
.moonray_forms input[name=shipping_country],
.moonray_forms select[name=shipping_country]{
	background: url(images/5.png) no-repeat scroll 11px 19px #ffffff !important; padding-left:0 !important; text-indent:29px;
}
.moonray_order_form_totals{
	width:100%;
	margin-bottom:20px !important;
}
.moonray_forms div.mr_cc{
	margin-bottom:0px !important;
	margin-top:20px !important;
}
	
.moonray_forms .priceDisplay td{ 
    line-height: 50px !important;
    padding: 0 20px !important;
}
.moonray_forms .priceDisplay .label{ width:30% !important;}
.moonray_forms .priceDisplay hr{ margin:0; display:none !important;}
.moonray_forms .priceDisplay:last-child{ background:#e2edfd;}

.moonray_forms button,
.moonray_forms input[type=button],
.moonray_forms input[type=submit],
.moonray_forms input.mr-submit,
.moonray-form button,
.moonray-form input[type=button],
.moonray-form input[type=submit]{
	background:#0295ff !important;
    padding: 0 1.25em !important;
    transition: all 0.25s ease-in-out 0s;
    border: medium none !important;
    border-radius: 3px !important;
    box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.08) inset;
    clear: both;
    color: #fff !important;
    cursor: pointer;
    display: block !important;
    font-family: 'Lato',Arial,Helvetica,sans-serif !important;
    font-size: 16px !important;
	height: 48px;
    line-height: 48px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
	float:left !important;
	clear:both !important;
}
.moonray_forms button:hover,
.moonray_forms input[type=button]:hover,
.moonray_forms input[type=submit]:hover,
.moonray_forms input.mr-submit:hover,
.moonray-form button:hover,
.moonray-form input[type=button]:hover,
.moonray-form input[type=submit]:hover{
    background:#0780df !important;
	
}
.moonray-form input[type=text].moonray-form-state-error,
.moonray-form input[type=email].moonray-form-state-error,
.moonray-form input[type=password].moonray-form-state-error,
.moonray-form input[type=number].moonray-form-state-error,
.moonray-form select.moonray-form-state-error,
.moonray_forms input[type=text].mr_error,
.moonray_forms input[type=email].mr_error,
.moonray_forms input[type=password].mr_error,
.moonray_forms input[type=number].mr_error,
.moonray_forms select.mr_error{  box-shadow:0px 0 3px 0 #F00 !important; color:#66625b !important;}
.ussr-grid-wrapper{ min-width: inherit !important; max-width: inherit !important;}
.moonray-form-payments-element th {
    background: none repeat scroll 0 0 #eee !important;
    border: 1px solid #d7d7d7 !important;
    color: #66625b !important;
    font-size: 13px !important;
    font-weight: bold !important;
    padding: 7px 10px !important;
	vertical-align:middle !important;
}

.moonray-form-payments-element td {
    border: 1px solid #d7d7d7 !important;
    font-size: 13px !important;
    padding: 7px 10px !important;
}
.moonray-form-payments-element table {
    border-collapse: collapse !important;
	margin:0 !important;
}
.moonray-form-payments-element tr {
    border: 0 none !important;
}
.grid-summary {
    margin-right: 0px !important;
	border:0 !important;
}
.moonray-form-error-message {
    display: block !important;
    height: 50px;
    padding: 0 10px !important;
    z-index: 9999 !important;
	display:none !important;
}
.moonray-form-error-message p {
    line-height: 50px !important;
    margin: 0 !important;
}
.moonray-form-payments-element td:last-child {
    text-align: right !important;
    width: 93px !important;
}
.moonray_forms input[type="checkbox"] {
    float: left !important;
    margin: 5px 10px 0 0 !important;
}
.moonray_forms .checkbox
.custom-error-message {
    clear: both;
    font-size: 12px;
	position:absolute;
	bottom:0px;
}
.moonray_forms .custom-error-message{ position:relative;}
.moonray_forms .mr_error_wrapper{ display:none;}
div.mr_error_wrapper{ display:none !important}
.moonray-form .form_error, .moonray_forms .form_error {
    background: none repeat scroll 0 0 #ffeee1;
    border: 1px solid #f00;
    margin-bottom: 20px;
    padding: 10px;
	color: #66625b !important;
	font-size:13px !important;
}
.ussr-helper-position-absolute, .position-absolute {
    left: auto !important;
    position: absolute;
    right: 5px;
    top: 13px !important;
}
.moonray-form .mandatory {
    color: red !important;
    font-size: 20px !important;
    line-height: 100%;
    margin-left: 6px;
    position: absolute;
}
div.moonray_order_form input.checkbox, div.moonray_order_form label.checkbox {
    display: inline !important;
    float: none !important;
}
.moonray-form-error-message.coupon-error {
    background-color: #ffffff !important;
    border: 1px solid #ff0000;
    border-radius: 3px;
    box-sizing: border-box !important;
    display: block !important;
    height: auto !important;
    left: 0;
    line-height: 20px !important;
    padding: 10px !important;
    position: absolute !important;
    width: 95% !important;
    z-index: 9999;
}
.ussr-icon.ussr-icon-checkmark {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    height: 16px;
    position: absolute;
    right: 6px;
    top: 18px;
    width: 18px;
}
.coupon-code-submit-btn {
    position: relative;
	border:0 !important;
	height:0 !important;
}
.moonray-form input[name="couponCode"] {
    padding-right: 28px !important;
}
.moonray-form label.checkbox, .moonray_forms label.checkbox, .moonray-form label.radio, .moonray_forms label.radio {
    display: inline !important;
    padding-left: 10px !important;
}
.moonray-form .moonray-form-input-type-payment-code, .moonray-form .moonray-form-input-type-payment-exp-year {
    padding-left: 10px !important;
}
.moonray-form-payments-element td{ vertical-align:top !important;}
.moonray-form-element-wrapper.moonray-form-element-wrapper-contracted.moonray-form-element-paypal {
    clear: both;
	 padding-bottom: 12px !important;
}
.moonray-form .moonray-form-element-separator {
    padding-top: 5px !important;
}
.ussr-component-gridcell-input-number-spinner-wrapper.position-absolute {
    left: auto !important;
}
.moonray-form-element-wrapper input[type="checkbox"] {
    margin-top: 6px !important;
}
.moonray-form input[name="couponCode"]{ height:auto !important;}
.moonray-form, .moonray_forms{ position: relative;}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-element-paypal{ width:100% !important;}