@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: DagnyWeb;
  src: url("fonts/DagnyWeb.eot");
}
/* then for WOFF-capable browsers */
@font-face {
  font-family: DagnyWeb;
  src: url("fonts/DagnyWeb.woff") format("woff");
}
.ussr-grid-wrapper{ min-width: inherit !important; max-width: inherit !important;}
.moonray-form, .moonray_forms { width:100% !important;}
.moonray-form *, .moonray_forms *{ font-family: DagnyWeb,sans-serif !important; font-size:14px !important; color:#0e273d !important; box-sizing:border-box;}
.moonray-form label, .moonray_forms label {
    display: block !important;
    padding: 0 0 8px !important;
	margin:0 !important;
	color: #000 !important;
	font-size:16px !important;
	font-weight:normal !important;
}
.moonray_forms .row{ }
.moonray_forms .cell{ width:50%; margin:0 !important; float: left !important;}
.moonray_forms .cell:first-child{ padding-right:15px;}
.moonray-form input[type=text],
.moonray-form input[type=email],
.moonray-form input[type=password],
.moonray-form input[type=number],
.moonray-form select,
.moonray_forms input[type=text],
.moonray_forms input[type=email],
.moonray_forms input[type=password],
.moonray_forms input[type=number],
.moonray_forms select{
    background: none repeat scroll 0 0 #faf5fa !important;
	min-width:75px !important;
    border: 1px solid #bcbec0 !important;
    border-radius: 4px !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 0 rgba(0, 0, 0, 0.7) inset !important;
    clear: both !important;
    display: block !important;
    font-size: 15px !important;
    padding: 8px !important;
	width:100% !important;
	height:35px !important;
	color: #5c5c5c !important;
	transition: all 0.2s ease 0s;
}
.moonray_forms input[type=text],
.moonray_forms input[type=email],
.moonray_forms input[type=password],
.moonray_forms input[type=number],
.moonray_forms select{
	margin-bottom:10px !important;
	margin-top:10px !important;
}
.moonray-form input[type=text].moonray-form-state-error,
.moonray-form input[type=email].moonray-form-state-error,
.moonray-form input[type=password].moonray-form-state-error,
.moonray-form input[type=number].moonray-form-state-error,
.moonray-form select.moonray-form-state-error,
.moonray_forms input[type=text].mr_error,
.moonray_forms input[type=email].mr_error,
.moonray_forms input[type=password].mr_error,
.moonray_forms input[type=number].mr_error,
.moonray_forms select.mr_error{ border:solid 1px #f00 !important;}

.moonray-form input[type=text]:focus,
.moonray-form input[type=email]:focus,
.moonray-form input[type=password]:focus,
.moonray-form input[type=number]:focus,
.moonray-form select:focus,
.moonray_forms input[type=text]:focus,
.moonray_forms input[type=email]:focus,
.moonray_forms input[type=password]:focus,
.moonray_forms input[type=number]:focus,
.moonray_forms select:focus{
	background-color:#fff !important;
	border: solid 1px #0072bc !important;
	box-shadow: 0 0 8px rgba(0, 114, 188, 0.5) !important;
	color: #858585 !important;
}
.moonray-form .moonray-form-payments-element input[type=text],
.moonray-form .moonray-form-payments-element input[type=email],
.moonray-form .moonray-form-payments-element input[type=password],
.moonray-form .moonray-form-payments-element input[type=number],
.moonray-form .moonray-form-payments-element select,
.moonray_forms .paymentInfo input[type=text],
.moonray_forms .paymentInfo input[type=email],
.moonray_forms .paymentInfo input[type=password],
.moonray_forms .paymentInfo input[type=number],
.moonray_forms .paymentInfo select{
	background-color:#FFFCED !important;
}
.moonray-form .moonray-form-payments-element input[type=text]:focus,
.moonray-form .moonray-form-payments-element input[type=email]:focus,
.moonray-form .moonray-form-payments-element input[type=password]:focus,
.moonray-form .moonray-form-payments-element input[type=number]:focus,
.moonray-form .moonray-form-payments-element select:focus,
.moonray_forms .paymentInfo input[type=text]:focus,
.moonray_forms .paymentInfo input[type=email]:focus,
.moonray_forms .paymentInfo input[type=password]:focus,
.moonray_forms .paymentInfo input[type=number]:focus,
.moonray_forms .paymentInfo select:focus{
	background-color:#fff !important;
	border:solid 1px #EBC707 !important;
}
.moonray-form .moonray-form-element-separator .moonray-form-element-separator-legend span, .moonray_forms legend {
    display: inline-block !important;
    font-size: 18px !important;
    overflow: visible !important;
    padding: 0.2em 0.5em 0.2em 0 !important;
    position: relative !important;
    top: auto !important;
    vertical-align: middle !important;
	color: #0e273d !important;
	font-weight: bold !important;
}
.moonray-form .moonray-form-element-separator .moonray-form-element-separator-legend{ position:relative !important; height:auto !important;}
.ussr-grid-wrapper { padding:0px !important;}
.moonray-form .moonray-form-element-separator{
	margin: 0px;
	border:0 !important;	
}
.moonray-form input[name=firstname],
.moonray-form input[name=fname],
.moonray-form input[name=lastname],
.moonray-form input[name=lname],
.moonray-form input[name=name],
.moonray_forms input[name=firstname],
.moonray_forms input[name=fname],
.moonray_forms input[name=lastname],
.moonray_forms input[name=lname],
.moonray_forms input[name=name]{
	background: url(images/username.png) no-repeat scroll 6px 6px #faf5fa !important; padding-left: 42px !important;
}
.moonray-form input[name=phone]
.moonray_forms input[name=phone],{
	background: url(images/phone.png) no-repeat scroll 9px 6px #faf5fa !important; padding-left: 42px !important;
}
.moonray-form input[name=email],
.moonray-form input[type=email],
.moonray_forms input[name=email],
.moonray_forms input[type=email]{
	background: url(images/mail.png) no-repeat scroll 9px 9px #faf5fa !important;padding-left: 42px !important;
}
.moonray-form input[name=billing_address1],
.moonray-form input[name=billing_address2],
.moonray_forms input[name=billing_address1],
.moonray_forms input[name=billing_address2],
.moonray-form input[name=shipping_address1],
.moonray-form input[name=shipping_address2],
.moonray_forms input[name=shipping_address1],
.moonray_forms input[name=shipping_address2],
.moonray-form input[name=billing_city],
.moonray_forms input[name=billing_city],
.moonray-form input[name=shipping_city],
.moonray_forms input[name=shipping_city],
.moonray-form input[name=billing_zip],
.moonray_forms input[name=billing_zip],
.moonray-form input[name=shipping_zip],
.moonray_forms input[name=shipping_zip],
.moonray-form input[name=billing_state],
.moonray-form select[name=billing_state],
.moonray_forms input[name=billing_state],
.moonray_forms select[name=billing_state],
.moonray-form input[name=shipping_state],
.moonray-form select[name=shipping_state],
.moonray_forms input[name=shipping_state],
.moonray_forms select[name=shipping_state],
.moonray-form input[name=billing_country],
.moonray-form select[name=billing_country],
.moonray_forms input[name=billing_country],
.moonray_forms select[name=billing_country],
.moonray-form input[name=shipping_country],
.moonray-form select[name=shipping_country],
.moonray_forms input[name=shipping_country],
.moonray_forms select[name=shipping_country]{
	/*background: url(images/link.png) no-repeat scroll 10px 10px #faf5fa !important;padding-left: 42px !important;*/
}
.moonray-form-element-wrapper{ padding:5px !important;}
.moonray-form-element-paymentmethod{ width:100% !important;}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-element-wrapper {
    display: block;
    float: none;
    width: 100%;
}
.moonray-form-element-sub-text{ font-size:11px !important; font-style:normal !important;}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-number,
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-exp-month,
.moonray_forms .ccNum{
    float: left !important;
    width: 67% !important;
    padding-left: 0 !important;
}
div.moonray_forms div.expire select.moonray_cc_expire_month{ display:block !important; float:left !important; width:67% !important;}
div.moonray_forms div.expire select[name=payment_expire_year]{
    clear: none !important;
    display: block !important;
    float: left !important;
    margin-left: 3%;
    width: 30% !important;
}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-code,
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-exp-year,
.moonray_forms .ccCVC{
    padding-left:0;
    width: 33% !important;
	float:left !important;
	position:relative;
}
.moonray_forms .ccCVC{ padding-left:10px !important;}

.moonray-form .moonray-form-element-paymentmethod{
    display: block;
    float: left;
    padding: 0;
	margin-right:10px;
}
.moonray_order_form_totals{
	width:100%;
}
.moonray_forms .priceDisplay td{ padding:10px !important;}
.moonray_forms .priceDisplay .label{ width:30% !important;}
.moonray_forms .priceDisplay hr{ margin:0;}
.moonray_forms .priceDisplay:last-child{ background:#E9E9E9}

.moonray_forms button,
.moonray_forms input[type=button],
.moonray_forms input[type=submit],
.moonray-form button,
.moonray-form input[type=button],
.moonray-form input[type=submit]{
    background: #00b9f1 !important;
    border: none !important;
    border-radius: 30px !important;
    box-shadow: none !important;
    color: #ffffff !important;
    display: block !important;
    font-size: 14px !important;
    height: 25px !important;
    margin: 0 auto 10px !important;
    padding: 6px 25px !important;
    text-align: center !important;
	font-family:helvetica,serif;
	line-height:16px !important;
}
.moonray_forms button:hover,
.moonray_forms input[type=button]:hover,
.moonray_forms input[type=submit]:hover,
.moonray-form button:hover,
.moonray-form input[type=button]:hover,
.moonray-form input[type=submit]:hover{
    background-color: #0ca3c9 !important;
}

.moonray-form-payments-element th {
    background: none repeat scroll 0 0 #e6f0d7 !important;
    border: 0 none !important;
    color: #0e273d !important;
    font-size: 14px !important;
    font-weight: bold !important;
    padding: 15px !important;
    vertical-align: middle !important;
}
.moonray-form-payments-element th:first-child{ border-radius:10px 0 0 0;}
.moonray-form-payments-element th:last-child{ border-radius:0 10px 0 0;}
.moonray-form-payments-element td.font-weight-bold{
	color: #0e273d !important;
	font-weight:bold !important;
}
.moonray-form-payments-element td {
    background: none repeat scroll 0 0 #fff !important;
    border-left: 0 none !important;
    border-right: 0 none !important;
    font-size: 14px !important;
    padding: 15px !important;
}
.moonray-form-payments-element table {
    border-collapse: collapse !important;
	border: 0 !important;
	margin:0 !important;
}
.moonray-form-payments-element tr {
    border: 0 none !important;
}
.grid-summary {
    margin-right: 0px !important;
	border:0 !important;
}
.moonray-form-error-message {
    display: block !important;
    height: 50px;
    padding: 0 10px !important;
    z-index: 9999 !important;
	display:none !important;
}
.moonray-form-error-message p {
    line-height: 50px !important;
    margin: 0 !important;
}
.moonray-form-payments-element td:last-child {
    text-align: right !important;
}
.moonray-form-payments-element td:first-child {

}
div.moonray_order_form table.moonray_order_form_totals{ border:1px solid #bcbec0 !important; border-radius: 10px !important;}
.moonray_forms .priceDisplay{ background:none !important;}
.moonray_forms .priceDisplay td{ border:0 !important; background: #e6f0d7 !important; font-size:20px !important;}
.moonray_forms .priceDisplay td span{ font-style: italic !important; font-size:20px !important; font-family:sans-serif !important;}
.moonray_forms .priceDisplay:first-child td:first-child{ border-radius: 10px 0 0 0;}
.moonray_forms .priceDisplay:first-child td:last-child{ border-radius: 0 10px 0 0;}
.moonray_forms .priceDisplay:last-child td{ background: #fff !important;}
.moonray_forms .priceDisplay:last-child td:first-child{ border-radius: 0 0 0 10px;}
.moonray_forms .priceDisplay:last-child td:last-child{ border-radius: 0 0 10px 0px;}
.moonray_forms .priceDisplay td {
    line-height: 50px !important;
    padding: 0 10px !important;
}
.moonray_forms .priceDisplay hr{ display:none;}
.moonray_forms input[type="checkbox"] {
    float: left;
    margin: 7px 10px 0 0;
}
.custom-error-message {
    clear: both;
    color: #f00;
    font-size: 12px;
	position:absolute;
	bottom:0px;
}
div.mr_error_wrapper{ display:none !important}
div.mr_error_wrapper{ display:none !important}
.moonray-form .form_error, .moonray_forms .form_error {
    background: none repeat scroll 0 0 #ffeee1;
    border: 1px solid #f00;
    margin-bottom: 20px;
    padding: 10px;
	color:#900 !important;
	font-size:13px !important;
}
.ussr-helper-position-absolute, .position-absolute {
    left: auto !important;
    position: absolute;
    right: 5px;
    top: 13px !important;
}
.moonray-form .mandatory, .moonray_forms .mandatory {
    color: red !important;
    font-size: 100% !important;
    line-height: 100%;
    padding-left: 6px !important;
    position: absolute;
}
.moonray_forms a.cvchelp{ position:absolute; right:7px; bottom:23%;}
div.moonray_order_form input.checkbox, div.moonray_order_form label.checkbox {
    display: inline !important;
    float: none !important;
}