@charset "utf-8";
/* CSS Document */

.ussr-grid-wrapper{ min-width: inherit !important; max-width: inherit !important;}
.moonray-form, .moonray_forms { width:auto !important; background:#f1f1f1 !important;   padding: 10px 10px 18px !important;}
.moonray-form *, .moonray_forms *{ font-family: Arial, Helvetica, sans-serif !important; font-size:12px !important; color:#0e273d !important; box-sizing:border-box;}
.moonray-form label, .moonray_forms label {
    display: block !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding: 0 0 8px !important;
}
br{ display:none;}
.moonray_forms .row{ }
.moonray_forms .cell{ width:50%; margin:0 !important; float: left !important;}
.moonray_forms .cell:first-child{ padding-right:15px;}

.moonray-form input[type=text],
.moonray-form input[type=email],
.moonray-form input[type=password],
.moonray-form input[type=number],
.moonray-form select,
.moonray_forms input[type=text],
.moonray_forms input[type=email],
.moonray_forms input[type=password],
.moonray_forms input[type=number],
.moonray_forms select{
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 1px !important;
    box-shadow: 0 1px 1px #efefef inset !important;
    clear: both !important;
    display: block !important;
    font-size: 13px !important;
    padding: 3px !important;
	width:100% !important;
	height:30px !important;
	min-width:75px !important;
	color: #222 !important;
}
.moonray-form input[type=text]:hover,
.moonray-form input[type=email]:hover,
.moonray-form input[type=password]:hover,
.moonray-form input[type=number]:hover,
.moonray-form select:hover,
.moonray_forms input[type=text]:hover,
.moonray_forms input[type=email]:hover,
.moonray_forms input[type=password]:hover,
.moonray_forms input[type=number]:hover,
.moonray_forms select:hover
{
	border:1px solid #b9b9b9 !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset !important;
}

.moonray_forms input[type=text],
.moonray_forms input[type=email],
.moonray_forms input[type=password],
.moonray_forms input[type=number],
.moonray_forms select{
	margin-bottom:10px !important;
	margin-top:10px !important;
	padding:5px 8px !important;
	color:#999 !important;
}

.moonray-form input[type=text].moonray-form-state-error,
.moonray-form input[type=email].moonray-form-state-error,
.moonray-form input[type=password].moonray-form-state-error,
.moonray-form input[type=number].moonray-form-state-error,
.moonray-form select.moonray-form-state-error,
.moonray_forms input[type=text].mr_error,
.moonray_forms input[type=email].mr_error,
.moonray_forms input[type=password].mr_error,
.moonray_forms input[type=number].mr_error,
.moonray_forms select.mr_error{ border:solid 1px #dd4b39 !important;}

.moonray-form input[type=text]:focus,
.moonray-form input[type=email]:focus,
.moonray-form input[type=password]:focus,
.moonray-form input[type=number]:focus,
.moonray-form select:focus,
.moonray_forms input[type=text]:focus,
.moonray_forms input[type=email]:focus,
.moonray_forms input[type=password]:focus,
.moonray_forms input[type=number]:focus,
.moonray-form-input select:focus,
.moonray_forms select:focus{
	background-color:#fff !important;
	border: solid 1px #4d90fe !important;
	box-shadow: 0 0 6px #ccc inset !important;
}

#mr-field-element-527658198960, #mr-field-element-965214585419 {
    padding: 6px 0 !important;
}
#mr-field-element-527658198960 select:focus{
	background-color:#fff !important;
	border: solid 1px #4d90fe !important;
	box-shadow: 0 0 6px #ccc inset !important;
	display:none;
}
.moonray-form .moonray-form-payments-element input[type=text],
.moonray-form .moonray-form-payments-element input[type=email],
.moonray-form .moonray-form-payments-element input[type=password],
.moonray-form .moonray-form-payments-element input[type=number],
.moonray-form .moonray-form-payments-element select,
.moonray_forms .paymentInfo input[type=text],
.moonray_forms .paymentInfo input[type=email],
.moonray_forms .paymentInfo input[type=password],
.moonray_forms .paymentInfo input[type=number],
.moonray_forms .paymentInfo select{
	background-color:#FFFCED !important;
}
.moonray-form .moonray-form-payments-element input[type=text]:focus,
.moonray-form .moonray-form-payments-element input[type=email]:focus,
.moonray-form .moonray-form-payments-element input[type=password]:focus,
.moonray-form .moonray-form-payments-element input[type=number]:focus,
.moonray-form .moonray-form-payments-element select:focus,
.moonray_forms .paymentInfo input[type=text]:focus,
.moonray_forms .paymentInfo input[type=email]:focus,
.moonray_forms .paymentInfo input[type=password]:focus,
.moonray_forms .paymentInfo input[type=number]:focus,
.moonray_forms .paymentInfo select:focus{
	background-color:#fff !important;
	border:solid 1px #4d90fe !important;
	 box-shadow: 0 0 6px #ccc inset !important;
}
.moonray-form .moonray-form-element-separator .moonray-form-element-separator-legend span, .moonray_forms legend {
    display: inline-block !important;
    font-size: 18px !important;
    overflow: visible !important;
    padding: 0.2em 0.5em 0.2em 0 !important;
    position: relative !important;
    top: auto !important;
    vertical-align: middle !important;
	color: #0e273d !important;
	font-weight:normal !important;
	font-family:Arial, Helvetica, sans-serif !important;
	background:none !important;
}
.moonray-form .moonray-form-element-separator .moonray-form-element-separator-legend{ position:relative !important; height:auto !important;}
.ussr-grid-wrapper { padding:0px !important;}
.moonray-form .moonray-form-element-separator{
	margin: 0px;
	border:0 !important;	
}
.moonray-form-element-wrapper{ padding:0 10px 15px 0 !important;}
.moonray-form-input-type-submit{
	padding-bottom:0px !important;
}
.moonray-form-element-paymentmethod{ width:100% !important; padding-bottom:0px !important;}
.moonray-form-element-credit-card{
	padding-bottom:0px !important;
}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-element-wrapper {
    display: block;
    float: none;
    width: 100%;
}
.moonray-form-element-sub-text{ font-size:12px !important; font-style:normal !important; color: #15c !important;
    line-height: 21px;
}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-number,
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-exp-month,
.moonray_forms .ccNum{
    float: left !important;
    width: 67% !important;
    padding-left: 0 !important;
}
div.moonray_forms div.expire select.moonray_cc_expire_month{ display:block !important; float:left !important; width:67% !important; margin-top:0px !important;}
div.moonray_forms div.expire select[name=payment_expire_year]{
    clear: none !important;
    display: block !important;
    float: left !important;
    margin-left: 3%;
    width: 30% !important;
}
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-code,
.moonray-form .moonray-form-element-paymentmethod .moonray-form-input-type-payment-exp-year,
.moonray_forms .ccCVC{
    padding-left:0;
    width: 33% !important;
	float:left;
}
.moonray_forms .ccCVC{ padding-left:10px !important;}

.moonray-form .moonray-form-element-paymentmethod{
    display: block;
    float: left;
    padding: 0;
	margin-right:10px;
}


.moonray_order_form_totals{
	width:100%;
	border: 1px solid #2075fc !important;
	border-radius:4px !important;
	background:#fff;
	margin-bottom: 12px !important;
}
.priceDisplay:first-child td{ /**border-bottom:none !important;**/}
.moonray_forms .priceDisplay td{ padding:10px !important;}
.moonray_forms .priceDisplay .label{ width:30% !important; color:#000 !important;}
.moonray_forms .priceDisplay hr{ margin:0; display:none;}
.moonray_forms .priceDisplay:last-child{ background:#E9E9E9; background: none repeat scroll 0 0 #e2edfd !important;}

.moonray_forms button,
.moonray_forms input[type=button],
.moonray_forms input[type=submit],
.moonray-form button,
.moonray-form input[type=button],
.moonray-form input[type=submit]{
    background-color: #4d90fe !important;
	background-image: -moz-linear-gradient(center top , #4d90fe, #4787ed);
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d90fe), color-stop(50%,#4d90fe), color-stop(51%,#4787ed), color-stop(100%,#4787ed)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4d90fe 0%,#4d90fe 50%,#4787ed 51%,#4787ed 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4d90fe 0%,#4d90fe 50%,#4787ed 51%,#4787ed 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4d90fe 0%,#4d90fe 50%,#4787ed 51%,#4787ed 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #4d90fe 0%,#4d90fe 50%,#4787ed 51%,#4787ed 100%) !important; /* W3C */
	
	
    border: 1px solid #3079ed !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    color: #ffffff !important;
    display: block !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
	font-weight:bold !important;
    height: auto !important;
    margin: 0 auto 6px !important;
    padding: 7px !important;
    text-align: center !important;
   text-shadow: 0 1px rgba(0, 0, 0, 0.1) !important;
    width: 127px !important;
}
.moonray_forms button:hover,
.moonray_forms input[type=button]:hover,
.moonray_forms input[type=submit]:hover,
.moonray-form button:hover,
.moonray-form input[type=button]:hover,
.moonray-form input[type=submit]:hover{
    background-color: #357ae8;
    background-image: -moz-linear-gradient(center top , #4d90fe, #357ae8);
	
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d90fe), color-stop(50%,#4d90fe), color-stop(51%,#357ae8), color-stop(100%,#357ae8)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4d90fe 0%,#4d90fe 50%,#357ae8 51%,#357ae8 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4d90fe 0%,#4d90fe 50%,#357ae8 51%,#357ae8 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4d90fe 0%,#4d90fe 50%,#357ae8 51%,#357ae8 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #4d90fe 0%,#4d90fe 50%,#357ae8 51%,#357ae8 100%) !important; /* W3C */
}

.moonray-form-payments-element th {
    background: none repeat scroll 0 0 #e2edfd !important;
    border: 1px solid #d9d9d9 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    padding: 7px 10px !important;
	color: #0e273d !important;
	font-weight:600 !important;
	font-family:Arial, Helvetica, sans-serif !important;
	
}
.moonray-form-payments-element td.font-weight-bold{
	color: #0e273d !important;
	font-weight:normal !important;
	font-family:Arial, Helvetica, sans-serif !important;
}
.moonray-form-payments-element td {
    border: 1px solid #d9d9d9 !important;
    font-size: 12px !important;
    padding: 7px 10px !important;
}
.moonray-form-payments-element table {
    border-collapse: collapse !important;
	margin:0 !important;
}
.moonray-form-payments-element tr {
    border: 0 none !important;
}
.grid-summary {
    margin-right: 0px !important;
	border:0 !important;
	background:#e2edfd;
}
.moonray-form-error-message {
    display: block !important;
    height: 50px;
    padding: 0 10px !important;
    z-index: 9999 !important;
	display:none !important;
}
.moonray-form-error-message p {
    line-height: 50px !important;
    margin: 0 !important;
}
.moonray-form-payments-element td:last-child {
    text-align: right !important;
    /*width: 87px !important;*/
}
.moonray_forms input[type="checkbox"] {
    float: left;
    margin: 2px 10px 0 0;
}
.custom-error-message {
    clear: both;
    color: #f00;
    font-size: 12px;
	position:absolute;
	bottom:0px;
}
div.mr_error_wrapper{ display:none !important}
div.mr_error_wrapper{ display:none !important}
.moonray-form .form_error, .moonray_forms .form_error {
    background: none repeat scroll 0 0 #ffeee1;
    border: 1px solid #f00;
    margin-bottom: 20px;
    padding: 10px;
	color:#900 !important;
	font-size:13px !important;
}
.ussr-helper-position-absolute, .position-absolute {
    left: auto !important;
    position: absolute;
    right: 5px;
    top: 13px !important;
}
p{ margin-bottom:0px !important;}
.moonray-form .mandatory {
    color: red !important;
    font-size: 20px !important;
    line-height: 100%;
    margin-left: 6px;
    position: absolute;
}
.moonray-form .mandatory {
    color: #dd4b39 !important;
    font-size: 20px !important;
    line-height: 100%;
    margin-left: 6px;
    position: absolute;
}
div.moonray_order_form input.checkbox, div.moonray_order_form label.checkbox {
    display: inline !important;
    float: none !important;
}